.main{
   .work{
       background: url('/assets/images/05.svg');
    // background: #172A3A;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       background-attachment: fixed;
       width: 100%;
       min-height: 100vh;
       height: 700px;
    .contenedor-title{
        position: relative;
        top: 25px;
    }
    .titulo-work{
        text-align: left;
        font-size: 28px;
        line-height: 42px;
        font-weight: 500;
        margin: 0 auto;
        display: inline;
        background:#172A3A;
        padding: 0px 20px 0px 20px;
        height: 120px;
        color: #fff;
        border-bottom: 1px solid #E29578;
        text-shadow: 2px 2px 2px #000;


           
    


            .letter{
                font-size: 75px;
                color: #E29578;
                line-height: 42px;
                text-shadow: 4px 4px 4px #000;

            }
    }
    .kind-work{
        position: relative;
        top: 50px;
        text-align: center;
        background:#DEFFFC ;
        color: #172A3A;
        font-size: 25px;
        font-family: 'oswald';
        font-weight: 400;
        margin: auto;
        max-width: 500px;
     
    }
    .contenedor-slider{
        position: relative;
        top: 85px;
        width: 100%;
        margin: 0 auto;
        max-width: 900px;
        .slider{
            width: 80%;
            margin: auto;
            position: relative;
            height: 400px;
            display: flex;
            overflow: hidden;
          
            #arrow-left{
                position: absolute;
                left: 5px;
                top: 35%;
                font-size: 40px;
                font-weight: bold;
                background: rgba($color: #000000, $alpha: 0.7);
                border-radius: 10px;
                color: #fff;
                z-index: 200;
            }
            #arrow-right{
             position: absolute;
             right: 5px;
             top: 35%;
            font-weight: bold;
            font-size: 40px;
            background: rgba($color: #000000, $alpha: 0.7);
            border-radius: 10px;
            color: #fff;
            z-index: 200;

        }

        }
        .contenedor-tarjeta{
            width: 100%;
           height: 100%;
            z-index: 100;
            min-width: 100%;
            position: relative;
            &::before{
                content: '1/4';
                position: absolute;
                font-size: 22px;
                top: 10px;
                left: 10px;
                display: block;
                width: 50px;
                background: #172A3A;
                border-radius:20px ;
                color: #fff;
                text-align: center;
                
            }
            
            .img{
                background: url('/assets/images/trabajos/gifos.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 75%;
                // object-fit: cover;
                margin-top: 2px;
                box-shadow: 5px 5px 50px #000;
            }
            .name-project{
                color: #DEFFFC;
                font-size: 22px;
                .go-there{
                    color: #508991;
                    border-bottom: 1px solid #508991;
                    display: inline-block;
                    padding: 2px;
                }
            }
            .tecnologies{
                color: #E29578;
                font-size: 18px;
                text-shadow: 2px 2px 2px #000;
            }
          
          

            }

            .contenedor-tarjeta2{
                @extend .contenedor-tarjeta;
                &::before{
                    content: '2/4';
                    position: absolute;
                    font-size: 22px;
                    top: 10px;
                    left: 10px;
                    display: block;
                    width: 50px;
                    background: #172A3A;
                    border-radius:20px ;
                    color: #fff;
                    text-align: center;

                    
                }
                .img{
                    background: url('/assets/images/trabajos/poadcstchannel.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: left;
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    margin-top: 2px;
                    box-shadow: 5px 5px 50px #000;
                }
                .name-project{
                    color: #DEFFFC;
                    font-size: 22px;
                    .go-there{
                        color: #508991;
                        border-bottom: 1px solid #508991;
                        display: inline-block;
                        padding: 2px;
                    }
                }
                .tecnologies{
                    color: #E29578;
                    font-size: 18px;
                    text-shadow: 2px 2px 2px #000;
                }
            }
            .contenedor-tarjeta3{
                @extend .contenedor-tarjeta;
                &::before{
                    content: '3/4';
                    position: absolute;
                    font-size: 22px;
                    top: 10px;
                    left: 10px;
                    display: block;
                    width: 50px;
                    background: #172A3A;
                    border-radius:20px ;
                    color: #fff;
                    text-align: center;

                    
                }
                .img{
                    background: url('/assets/images/trabajos/viajes.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    margin-top: 2px;
                    box-shadow: 5px 5px 50px #000;
                }
                .name-project{
                    color: #DEFFFC;
                    font-size: 22px;
                    .go-there{
                        color: #508991;
                        border-bottom: 1px solid #508991;
                        display: inline-block;
                        padding: 2px;
                    }
                }
                .tecnologies{
                    color: #E29578;
                    font-size: 18px;
                    text-shadow: 2px 2px 2px #000;
                }
            }
            .contenedor-tarjeta4{
                @extend .contenedor-tarjeta3;
                &::before{
                    content: '4/4';
                    position: absolute;
                    font-size: 22px;
                    top: 10px;
                    left: 10px;
                    display: block;
                    width: 50px;
                    background: #172A3A;
                    border-radius:20px ;
                    color: #fff;
                    text-align: center;

                    
                }
                .img{
                    object-fit: cover;
                    background: url('/assets/images/trabajos/bearPoject.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: left;
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    margin-top: 2px;
                    box-shadow: 5px 5px 50px #000;
                }
            }
        }
    }

   }
