.main{
   .work{
       background: url('/assets/images/05.svg');
    // background: #172A3A;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       width: 100%;

       height: 1000px;
       overflow: hidden;
    .contenedor-title{
        position: relative;
        top: 25px;
    }
    .titulo-work{
        text-align: left;
        font-size: 28px;
        line-height: 42px;
        font-weight: 500;
        margin: 0 auto;
        display: inline;
        padding: 0px 20px 0px 20px;
        height: 120px;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
        margin-left: -100%;
        transition: 0.6s ease all;



           
    


            .letter{
                font-size: 75px;
                color: #508991;
                line-height: 42px;
                text-shadow: 4px 4px 4px #000;

            }
    }
    .kind-work{
        position: relative;
        top: 50px;
        text-align: center;
        color: #000;
        font-size: 25px;
        font-family: 'oswald';
        font-weight: 400;
        max-width: 500px;
        transition: 0.6s ease all;
        margin-left: -100%;
        animation-duration: 1s;
        animation-iteration-count: initial;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
        animation-name: fadeInTopRight;
        display:none;

        
     
    }
    .contenedor-slider{
        position: relative;
        top: 85px;
        width: 100%;
        margin: 0 auto;
        max-width: 900px;
        opacity: 0;
        transition: 0.6s ease all;
        &.animate{
            animation-name:fadeInUp;
            animation-duration:1s;
            animation-iteration-count: initial;
            opacity: 1;
        }
        .slider{
            width: 80%;
            margin: auto;
            position: relative;
            height: 400px;
            display: flex;
            overflow: hidden;
          
            #arrow-left{
                position: absolute;
                left: 5px;
                top: 35%;
                font-size: 40px;
                font-weight: bold;
                background: rgba($color: #000000, $alpha: 0.7);
                border-radius: 10px;
                color: #fff;
                z-index: 200;
            }
            #arrow-right{
             position: absolute;
             right: 5px;
             top: 35%;
            font-weight: bold;
            font-size: 40px;
            background: rgba($color: #000000, $alpha: 0.7);
            border-radius: 10px;
            color: #fff;
            z-index: 200;

        }

        }
        .contenedor-tarjeta{
            width: 100%;
           height: 100%;
            z-index: 100;
            min-width: 100%;
            position: relative;
            &::before{
                content: '1/7';
                position: absolute;
                font-size: 22px;
                top: 10px;
                left: 10px;
                display: block;
                width: 50px;
                background: #172A3A;
                border-radius:20px ;
                color: #fff;
                text-align: center;
                
            }
            
            .img{
                background: url('/assets/images/trabajos/gifos.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 75%;
                // object-fit: cover;
                margin-top: 2px;
                box-shadow: 5px 5px 50px #000;
            }
            .name-project{
                color: #DEFFFC;
                font-size: 22px;
                .go-there{
                    color: #508991;
                    border-bottom: 1px solid #508991;
                    display: inline-block;
                    padding: 2px;
                }
            }
            .tecnologies{
                color: #E29578;
                font-size: 18px;
                text-shadow: 2px 2px 2px #000;
            }
          
          

            }

            .contenedor-tarjeta2{
                @extend .contenedor-tarjeta;
                &::before{
                    content: '2/7';
                    position: absolute;
                    font-size: 22px;
                    top: 10px;
                    left: 10px;
                    display: block;
                    width: 50px;
                    background: #172A3A;
                    border-radius:20px ;
                    color: #fff;
                    text-align: center;

                    
                }
                .img{
                    background: url('/assets/images/trabajos/poadcstchannel.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: left;
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    margin-top: 2px;
                    box-shadow: 5px 5px 50px #000;
                }
                .name-project{
                    color: #DEFFFC;
                    font-size: 22px;
                    .go-there{
                        color: #508991;
                        border-bottom: 1px solid #508991;
                        display: inline-block;
                        padding: 2px;
                    }
                }
                .tecnologies{
                    color: #E29578;
                    font-size: 18px;
                    text-shadow: 2px 2px 2px #000;
                }
            }
            .contenedor-tarjeta3{
                @extend .contenedor-tarjeta;
                &::before{
                    content: '3/7';
                    position: absolute;
                    font-size: 22px;
                    top: 10px;
                    left: 10px;
                    display: block;
                    width: 50px;
                    background: #172A3A;
                    border-radius:20px ;
                    color: #fff;
                    text-align: center;

                    
                }
                .img{
                    background: url('/assets/images/trabajos/viajes.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    margin-top: 2px;
                    box-shadow: 5px 5px 50px #000;
                }
                .name-project{
                    color: #DEFFFC;
                    font-size: 22px;
                    .go-there{
                        color: #508991;
                        border-bottom: 1px solid #508991;
                        display: inline-block;
                        padding: 2px;
                    }
                }
                .tecnologies{
                    color: #E29578;
                    font-size: 18px;
                    text-shadow: 2px 2px 2px #000;
                }
            }
            .contenedor-tarjeta4{
                @extend .contenedor-tarjeta3;
                &::before{
                    content: '4/7';
                    position: absolute;
                    font-size: 22px;
                    top: 10px;
                    left: 10px;
                    display: block;
                    width: 50px;
                    background: #172A3A;
                    border-radius:20px ;
                    color: #fff;
                    text-align: center;

                    
                }
                .img{
                    object-fit: cover;
                    background: url('/assets/images/trabajos/bearPoject.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: left;
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    margin-top: 2px;
                    box-shadow: 5px 5px 50px #000;
                }
            }
            .contenedor-tarjeta5{
                @extend .contenedor-tarjeta3;
                &::before{
                    content: '5/7';
                    position: absolute;
                    font-size: 22px;
                    top: 10px;
                    left: 10px;
                    display: block;
                    width: 50px;
                    background: #172A3A;
                    border-radius:20px ;
                    color: #fff;
                    text-align: center;

                    
                }
                .img{
                    object-fit: cover;
                    background: url('/assets/images/trabajos/express.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: left;
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    margin-top: 2px;
                    box-shadow: 5px 5px 50px #000;
                }
            }
            .contenedor-tarjeta6{
                @extend .contenedor-tarjeta3;
                &::before{
                    content: '6/7';
                    position: absolute;
                    font-size: 22px;
                    top: 10px;
                    left: 10px;
                    display: block;
                    width: 50px;
                    background: #172A3A;
                    border-radius:20px ;
                    color: #fff;
                    text-align: center;

                    
                }
                .img{
                    object-fit: cover;
                    background: url('/assets/images/trabajos/backjack.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: left;
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    margin-top: 2px;
                    box-shadow: 5px 5px 50px #000;
                }
            }
            .contenedor-tarjeta7{
                @extend .contenedor-tarjeta3;
                &::before{
                    content: '7/7';
                    position: absolute;
                    font-size: 22px;
                    top: 10px;
                    left: 10px;
                    display: block;
                    width: 50px;
                    background: #172A3A;
                    border-radius:20px ;
                    color: #fff;
                    text-align: center;

                    
                }
                .img{
                    object-fit: cover;
                    background: url('/assets/images/trabajos/consoleapp.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: left;
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    margin-top: 2px;
                    box-shadow: 5px 5px 50px #000;
                }
            }
        }
    }
    .see-more{
        width: 100%;
        font-size: 22px;
        color: #fff;
        line-height: 28px;
        text-align: center;
        margin-top: 100px;
    }
    .link-github{
        @extend .see-more;
        margin-top: 50px;
        font-size: 60px;
        display: block;
      
        color: #000;
    }

   }

   @keyframes fontsize3{
       0%{font-size: 0px;}
       100%{font-size: 25px;}
   }
  
