@keyframes trasladar{
    33%{transform: translate(-180%);}
    75%{transform: translate(180%);z-index: -1;}
    100%{transform: translate(0);z-index: 2;}


}
@keyframes welcometext{
  0%{font-size: 100px;}
  100%{font-size: 50px;}

}
@keyframes messagetext{
    0%{font-size: 0px;}
    100%{font-size: 25px;}
  
  }



.main{
    .container-presentation{
        height:100vh;
        width: 100%;
        background:#fff;
        background:url('/assets/images/T_4.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-left: 20px;
        padding-right: 20px;
       
        transition: 3s ease-in-out all;
        position: relative;
        


        .presentation{
           
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:flex-start;
            z-index: 6;
            margin-bottom: 20px;
     
              .start-here{
                width: 120px;
                display: block;
                border-radius:10px;
                font-family: 'Oswald';
                font-weight: 494;
                font-style: italic;
                cursor: pointer;
                position:relative;
                top: 70px;
                background: rgba($color: #000000, $alpha: 0.2);
                color: #fff;
                box-shadow: 5px 2px #000;
                transition: 1s ease all;
                font-size:16px;
                border: 2px solid transparent;
                border-top:  1px solid #172A3A;
                border-left: 1px solid #172A3A;
                text-align: center;
               

                

            
              }

            .welcome-text{
                font-family: 'Oswald';
                font-weight: 494;
                font-size:50px;
                line-height:62px;
                z-index: 6;
                transition: 1s ease all;
                text-align: left;
                 text-shadow: 1px 1px 2px black;
                 &.efecto{
                    animation-name: welcometext;
                    animation-duration: 2s;
                    animation-iteration-count: initial;
                 }
             
            }
            .message{
                line-height: 32px;
                font-family:'Oswald';
                font-weight: 494;
                font-size: 25px;
                color: #fff;
                position: relative;
                margin-top: 15px;
                letter-spacing: 5px;
                transition: 2s;
                &.efecto{
                animation-name: messagetext;
                animation-duration: 2s;
                animation-iteration-count: initial;
                }
                .name{
                    position: absolute;
                    right: 0;
                    color: #000;
                    font-family: 'Truculenta';
                    font-weight: 500;
                    



                }
                .quotation{
                    position: relative;
                    top: -10px;
                    left:-10px;
                    font-size:42px;
                    font-style: italic;
                }
                .quotation1{
                    position: relative;
                    top: -5px;
                    right:-10px;
                    font-size:42px;
                    font-style: italic;
                }
                
            }
        }
    }
}