@keyframes trasladar{
    33%{transform: translate(-180%);}
    75%{transform: translate(180%);z-index: -1;}
    100%{transform: translate(0);z-index: 2;}


}
@keyframes welcometext{
  0%{transform: translateY(35px);}
  100%{transform: translateY(0);}

}
@keyframes messagetext{
    0%{font-size: 0px;}
    100%{font-size: 18px;}
  
  }

@keyframes maquina {
  0%{width: 100%;}
  100%{width:0}
}

@keyframes afterall{
  0%{margin-left:100%};
  100%{margin-left:-100%}
}
@keyframes afterall2{
  0%{margin-left:-120%};
  100%{margin-left:120%;}
}



.main{
    .container-presentation{
        min-height:100vh;
        height: 500px;
        width: 100%;
        background:#fff;
        background:url('/assets/images/T_4.svg');
       background-attachment: fixed;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       
        transition: 3s ease-in-out all;
        position: relative;
        object-fit: cover;
        


        .presentation{
           
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:flex-start;
            z-index: 6;
            margin-bottom: 20px;
            .desarrollo-titulo{
                color: #E29578;
                font-family: 'Oswald';
                display: block;
                text-shadow: 5px 5px 5px #000;
                font-weight: 494;
                font-size: 28px;
                transition: 0.8s ease all;
                transform: translateX(-150%) translateY(0);
               
                &.actived{
                transform: translateX(0);
                padding-bottom: 10px;

                }
                &.font0{
                  font-size: 0px;
                }
                .font768{
                  font-size: 28px;
                }
                .line{
                  content:'';
                  color:#fff;
                  background: #fff;
                  width: 50px;
                  display: block;
                  position: absolute;
                  bottom: 0;
                  height:10px;
                  animation: afterall 3.5s infinite alternate steps(36);
                  display: none;
                 
              }
                
            }
           
            .front,.back{
              transition: 0.8s;
              display: block;
              color: #fff;
              font-size:0px;
              transform: translateX(100px);
              &.surprise{
                border-bottom: 2px solid #fff;
                width: 110px;
                border-bottom-left-radius: 40%;
                border-bottom-right-radius: 40%;
                padding-bottom: 70px;
                &::before{
                  content:'HI !!';
                  display: block;
                  font-size: 35px;
                  padding:20px ;
                  position: absolute;
                  right:-70%;
                }
              }
             
            }
            .description{
                color: #fff;
                font-family: 'Oswald';
                font-size: 18px;
                letter-spacing: 1px;
                text-shadow: 5px 5px 5px #000;
                transition: 0.8s ease all;
                transform: translateX(-150%);
                position: relative;
                overflow: hidden;
                padding-bottom: 10px;
                border-bottom: 1px solid #fff;
                .line2{
                  color:#fff;
                  background: #fff;
                  width: 50px;
                  display: block;
                  position: absolute;
                  bottom: 0;
                  height:10px;
                  animation: afterall2 3.5s infinite alternate steps(36);
                  display: none;
                  margin-top: 0px;
              }
                

            




            }
     
              .start-here{
                width: 120px;
                display: block;
                border-radius:10px;
                font-family: 'Oswald';
                font-weight: 494;
                font-style: italic;
                cursor: pointer;
                position:relative;
                top: 70px;
                background:#004346 ;
                color: #fff;
                box-shadow: 5px 2px #000;
                transition: 1s ease all;
                font-size:16px;
                border: 2px solid transparent;
                border-top:  1px solid #172A3A;
                border-left: 1px solid #172A3A;
                text-align: center;
                margin-left: 20px;
                opacity: 0;
                transition: 1s ease all;
                transform: translateY(25px);
               

                

            
              }
           

           
           
        }
    }
}