@keyframes trasladar{
    33%{transform: translate(-180%);}
    75%{transform: translate(180%);z-index: -1;}
    100%{transform: translate(0);z-index: 2;}


}
@keyframes welcometext{
  0%{transform: translateY(35px);}
  100%{transform: translateY(0);}

}
@keyframes messagetext{
    0%{font-size: 0px;}
    100%{font-size: 18px;}
  
  }

@keyframes maquina {
  0%{width: 100%;}
  100%{width:0}
}

@keyframes afterall{
  0%{margin-left:100%};
  100%{margin-left:-100%}
}
@keyframes afterall2{
  0%{margin-left:-120%};
  100%{margin-left:120%;}
}
@keyframes esconder{
  0%{margin-left: -100%;}
  100%{margin:0}
}
@keyframes fontsize5{
  0%{font-size: 0px;}
  100%{font-size: 16px;}
}



.main{
    .container-presentation{
        min-height:100vh;
        height: 500px;
        width: 100%;
        background:#fff;
        background:url('/assets/images/mountains.svg');
       

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       
        transition: 3s ease-in-out all;
        position: relative;
        object-fit: cover;
        


        .presentation{
           
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:flex-start;
            z-index: 6;
            margin-bottom: 20px;
            overflow: hidden;
            .desarrollo-titulo{
              margin-top: 25px;
                color: #FFF;
                font-family: 'Oswald';
                display: block;
                text-shadow: 5px 5px 5px #000;
                font-weight: 494;
                font-size: 28px;
                transition:0.8s ease all;
                width: 315px;
                overflow: hidden;
                position: relative;
                padding-bottom: 10px;
                animation-name:backInDown;
                animation-iteration-count: initial;
                animation-duration:2s;
               
                .font{
                  font-size: 28px;
                }
                &.margin-cero{
                  margin: 0;
                }
                .line{
                  content:'';
                  color:#fff;
                  background: #fff;
                  width: 50px;
                  position: absolute;
                  bottom: 0;
                  height:5px;
                  animation: afterall 3.5s infinite alternate steps(36);
                  display: none;
                  &.display-block{
                    display: block;
                  }
                 
              }
                
            }
           
            .description{
                color: #fff;
                font-family: 'Oswald';
                font-size: 18px;
                letter-spacing: 1px;
                text-shadow: 5px 5px 5px #000;
                transition: 0.8s ease all;
                position: relative;
                overflow: hidden;
                padding-bottom: 10px;
                animation-name:backInUp;
                animation-iteration-count: initial;
                animation-duration:2s;
                position: relative;
                overflow-y: visible;
                &::before{
                  content:"";
                  position: absolute;
                  bottom: 0;
                  left: 0px;
                  display: block;
                  width: 0px;
                  height: 1px; 
                  background: #fff;
                  margin-top: 5px;
                  transition: 2s;

                }
                &.border-bottom{
                  &::before{
                    content:"";
                    position: absolute;
                    bottom: 0;
                    left: 0px;
                    display: block;
                    width: 100%;
                    height: 1px; 
                    background: #fff;
                    margin-top: 5px;
                    transition: 2s;
  
                  }
                  &:hover{
                    &::before{
                      content:"";
                      position: absolute;
                      bottom: 0;
                      left: 0px;
                      display: block;
                      width: 0%;
                      height: 1px; 
                      background: #fff;
                      margin-top: 5px;
                      transition: 2s;
    
                    }
                  }
                }
            
                &.border{
                  border-bottom: 1px solid #fff;
                }
                .line2{
                  color:#fff;
                  background: #fff;
                  width: 50px;
                  position: absolute;
                  bottom: 0;
                  height:5px;
                  animation: afterall2 3.5s infinite alternate steps(36);
                  display: none;
                  margin-top: 0px;
                
              }
                

            




            }
     
              .start-here{
                width: 120px;
                display: block;
                border-radius:10px;
                font-family: 'Oswald';
                font-weight: 494;
                font-style: italic;
                cursor: pointer;
                position:relative;
                top: 170px;
                background:#004346 ;
                color: #fff;
                box-shadow: 5px 2px #000;
                transition: 1s ease all;
                font-size:16px;
                border: 2px solid transparent;
                border-top:  1px solid #172A3A;
                border-left: 1px solid #172A3A;
                text-align: center;
                opacity: 1;
                transition: 1s ease all;
                animation-duration:1s;
                animation-iteration-count: initial;
                animation-name:backInUp;
               

                

            
              }
           

           
           
        }
    }
}