@media screen and(min-width:968px){

    .main{
        .container-presentation{
         
            .presentation{
                .desarrollo-titulo{
                    font-size: 42px;
                    line-height: 52px;
                }
                .description{
                    font-size: 22px;
                }
                .start-here{
                    padding: 5px;
                    &:hover{
                        background: #004346;
                        color: #fff;
                        width: 150px;
                        transition: 0.6s ease all;
                        box-shadow: 5px 2px #000;
                        transition: 1.5s;
                  
                        
                        
 
                    }
                   

                }
               
            }

        }
    }
}