@media screen and(min-width:968px){
    .main{
        .habilities{
            .titulo-habilities{
                font-size: 34px;
                line-height: 46px;
                display: block;
                text-align: center;
                font-size: 34px;
                line-height: 46px;
                display: block;
                text-align: center;
                margin: 0;
                opacity: 0;
                animation-duration: 1s;
                animation-iteration-count: initial;


            }
            
        }
    }
}