@media screen and(min-width:968px){
    .main{
        .habilities{
            .contenedor-title{
                 .titulo-habilities{
               
                display: block;
                text-align: center;
                font-size: 46px;
                line-height: 52px;
                display: block;
                text-align: center;
                margin: 0;
                opacity: 0;
                animation-duration: 1s;
                animation-iteration-count: initial;


            }
            
            }
           
        }
    }
}