
@keyframes hidde{
    0%{transform: translate(-100%);}
    100%{transform: translate(0);}
}
@keyframes opacidad {
    25%{opacity:0.25}
    50%{opacity:0.5}
    75%{opacity:0.75}
    100%{opacity:1}

}


@keyframes widthBars {
    25%{width: 20px;}
    25%{width: 20px;}
    25%{width: 20px;}
    25%{width: 20px;}

}
@keyframes trasladarY{
    0%{transform: translateY(200px);}
    100%{transform: translateY(0px);}
}
@keyframes welcomeTopText{
    0%{transform: translateX(-103px);opacity: 0.5;}
    100%{transform: translateX(0px);opacity: 1;}
}






.header{
    width: 100%;
    height: 80px;
    background: #ffff;
    display: flex;
    justify-content: space-between;
    background:#172A3A;
    align-items:  center;
    position: sticky;
    top: 0;
    z-index: 500;

.contenedor-logo{
    display: flex;
    align-items: center;
    animation-duration:1s;
    animation-iteration-count: initial;
    margin-left: 20px;

    
        .logo{
        background: url('/assets/images/bear22.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 80px;
        height: 60px;
        border-radius: 70%;
        animation-name:trasladarY ;
        animation-duration: 0.5s;
        animation-iteration-count: initial;
        display: block;
        z-index: 100;
        

     
       
    }
    .animate-welcome{
        margin-left: 25px;
        font-size: 25px;
        color: #fff;
        font-weight: 500;
        // transform: translateX(-113px);
        opacity: 0;
        
        animation-duration:1s;
        animation-iteration-count: initial;
       
    }

}
    .btn-bars{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content:center;
        flex-direction:column;
        align-content: center;
        margin-right:20px;
        position: relative;
        align-items: center;
        transition: 1s ease all;
      
      
    
      
        span{
            width: 25px;
            height:3px;
            background: #fff;
            display: block;
            border-radius:2px;
            margin-top:4px
           
        }
        .line-top{
            &.actived{
               transition: 0.8s ease all;
               width: 0px;
               height:0px;
               position: absolute;
               top: 5px;

            }
            &.nonactived{
                transition: 0.8s ease all;
                height:3px;
                width: 25px;
            }
        }
        .line-center{
           &.actived{
            transition: 0.5s ease all;
            position: absolute;
            transform:rotate(45deg)
           }
           &.nonactived{
            transition: 0.5s ease all;
            transform:rotate(0deg);
           



           }

        }
        .line-bottom{
            &.actived{
                transition: 0.5s ease all;
                position: absolute;
                transform:rotate(-45deg)
            }
            &.nonactived{
                transition: 0.5s ease all;
                transform:rotate(0deg)
    
               }
        }
    }



    .menu{
        width: 100%;
        margin-left: -100%;
        height:100vh;
        position: absolute;
        border-top: 2px solid #ffffff;

        background:rgba($color: #172A3A, $alpha: 0.8);
        top: 80px;
        opacity: 0;
        transition: 0.3s ease-in-out all;
        &.actived{
            margin: 0;
            opacity: 1;
        }

        ul{
            li{
                a{
                    color:#fff;
                    font-size: 22px;
                    font-weight:400;
                    display: inline-block;
                    padding: 30px;
                    position: relative;
                    text-transform: uppercase;


                    &.actived{
                       transition: 0.5s ease-in-out all;
                       transform: translatex(0);
                    }
                    &.nonactived{
                     transform:translate(-100%) ;
                     opacity: 0;


                    }
                 
                  
                   
                    
                    
                }
             
                
                .fist-letter{
                    color: #fff;
                    font-family: 'Oswald';
                    font-weight: 494;
                    font-size:26px;
                    &.blue{
                        font-family: 'Oswald';
                        font-weight: 494;
                        font-size:26px;
                        color: #508991;
                    }
                   .pink{
                       color: #E29578;
                   }

                }

            }
        }
    }

}