@media screen and(min-width:968px){

    @keyframes opacidad2{
        0%{opacity:0}
        100%{opacity:1}
    }
    @keyframes translado{
        0%{transform:translateX(-50px)}
        100%{transform:translateX(0)}
    }
    .header{
     .contenedor-logo{
        margin-left: 150px;

     }
        .logo{
            font-size: 25px;
            margin-left: 0px;
            .desarrollo-titulo{
                display: inline;
                font-size: 25px;
                text-decoration: underline #fff 2px;


            }
        }
        .btn-bars{
            display: none;
        }
        .menu{
            position: absolute ;
            right: 0;
            top: 0;
            height: 80px;
            background:none;
            z-index: -1;
            border-top: none;
            border-radius: 0;
            border: none;
            
            &::after{
                display: none;
            }
            ul{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-right: 150px;
                margin-top: 16px;
               
               
                li{
                   
                
                    .navBarOptions{
                        padding: 0px;
                        font-size: 18px;
                        margin-left: 25px;
                        display: inline-block;
                        transition: 1s ease all;
                        animation-duration: 3s;
                        animation-iteration-count: initial;
                        animation-name:zoomInDown;
                        &:hover{
                          border-bottom: 1.5px solid #E29578;
                          font-size: 22px;
                          text-shadow: 2px 2px 2px #000;
                          .fist-letter{
                              font-size: 22px;
                          }

                        }
                        &.blue{
                            &:hover{
                            border-bottom: 1.5px solid #508991;
                            .fist-letter{
                                color: #508991;
                            }

                            }
                        }
                        &.green{
                            color: #004346;
                            text-shadow: none;

                            &:hover{
                            border-bottom: 1.5px solid #004346;
                            color: #004346;

                           
                            }
                        }
                        &.nonactived{
                            transform:translate(0) ;
                            opacity:1;
       
       
                           }
                      
                    }
                    .fist-letter{
                        color: #E29578;
                        display: inline-block;
                       
                        &.green{
                            color: #004346;
                        }
                    }
                }

            }
        }
    }
}


@keyframes menu968 {
    0%{opacity: 0;transform:translateX(-50px)};
    100%{opacity: 1;transform:translateX(0)}
}