*{
    margin:0;
    padding:0;
    border:none;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Truculenta';
    
}
body{
    .punto{
        color: #fff;
        font-family: 'Oswald';
        font-size:30px;
    
    }
}
