@media screen and (min-width:850px){
    .main{
        .about-me{
            .titulo-about{
                font-size: 34px;
                line-height: 46px;
                display:block;
                text-align:center;
                border:none;
                margin:0px;
                animation-duration: 1s;
                animation-iteration-count: initial;
                opacity: 0;
            }
            .contenedor{
                grid-template-columns: repeat(2,1fr);
                grid-gap:30px;
                margin-top: 22px;
                .card2{
                    position: relative;
                    top: 50px;
                }
              
                .card4{
                    position: relative;
                    top: 20px;
                }
                 .card1{
                     animation-name: lightSpeedInLeft;
                 
                &.animacion{
                    opacity: 1;
                     animation-name: hidde, opp;
                     animation-duration: 0.8s;
                     animation-iteration-count: initial;
                     img{
                        animation-name: hidde ;
                        animation-duration: 0.8s;
                        animation-iteration-count: initial;
                     }
                     .greet{

                          animation-name: hidde, opp;
                          transition: 5s ease all;
                          animation-duration: 0.8s;
                          animation-iteration-count: initial;
                        
                     }
                     .subtitulo{
                    
                          animation-name: hidde, opp;
                          transition: 5s ease all;
                          animation-duration: 0.8s;
                          animation-iteration-count: initial;
                        
                     }
                     .text{
                        animation-name: ocultaright, opp;
                        transition: 5s ease all;
                        animation-duration: 0.8s;
                        animation-iteration-count: initial;
                     }
                    }
               
                
            }
            .card2{
                &.animacion{
                    opacity: 1;
                    img{
                    animation-name: ocultaright;
                    animation-duration: 0.8s;
                    animation-iteration-count: initial;
                    }
                    .greet{

                        animation-name: ocultaright, opp;
                        transition: 5s ease all;
                        animation-duration: 0.8s;
                        animation-iteration-count: initial;
                      
                   }
                   .subtitulo{
                  
                        animation-name: ocultarleft, opp;
                        transition: 5s ease all;
                        animation-duration: 0.8s;
                        animation-iteration-count: initial;
                      
                   }
                   .text{
                      animation-name: ocultarleft, opp;
                      transition: 5s ease all;
                      animation-duration: 0.8s;
                      animation-iteration-count: initial;
                   }
                    
                }
               
            }
            .card3{
              @extend .card1;
            }.card4{
              @extend .card2;


            }
            }
        }
    }
}