* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Truculenta';
}

html {
  scroll-behavior: smooth;
}

body .punto {
  color: #fff;
  font-family: 'Oswald';
  font-size: 30px;
}

@-webkit-keyframes hidde {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes hidde {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes opacidad {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacidad {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hiddeback {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100% 0);
            transform: translate(-100% 0);
  }
}

@keyframes hiddeback {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100% 0);
            transform: translate(-100% 0);
  }
}

@-webkit-keyframes widthpositive {
  25% {
    width: 25px;
  }
  50% {
    width: 50px;
  }
  75% {
    width: 75px;
  }
  100% {
    width: 100px;
  }
}

@keyframes widthpositive {
  25% {
    width: 25px;
  }
  50% {
    width: 50px;
  }
  75% {
    width: 75px;
  }
  100% {
    width: 100px;
  }
}

@-webkit-keyframes widthBars {
  25% {
    width: 20px;
  }
  25% {
    width: 20px;
  }
  25% {
    width: 20px;
  }
  25% {
    width: 20px;
  }
}

@keyframes widthBars {
  25% {
    width: 20px;
  }
  25% {
    width: 20px;
  }
  25% {
    width: 20px;
  }
  25% {
    width: 20px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #172A3A;
  border-bottom: #fff 10px solid;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
}

.header .logo {
  margin-left: 20px;
  color: #fff;
  font-size: 16px;
  -webkit-animation-name: hidde , opacidad;
          animation-name: hidde , opacidad;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.header .logo .desarrollo-titulo {
  color: #E29578;
  font-family: 'Oswald';
  display: block;
}

.header .btn-bars {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 20px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.header .btn-bars span {
  width: 25px;
  height: 3px;
  background: #fff;
  display: block;
  border-radius: 2px;
  margin-top: 4px;
}

.header .btn-bars .line-top.actived {
  -webkit-transition: 0.8s ease all;
  transition: 0.8s ease all;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 5px;
}

.header .btn-bars .line-top.nonactived {
  -webkit-transition: 0.8s ease all;
  transition: 0.8s ease all;
  height: 3px;
  width: 25px;
}

.header .btn-bars .line-center.actived {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .btn-bars .line-center.nonactived {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header .btn-bars .line-bottom.actived {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .btn-bars .line-bottom.nonactived {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header .menu {
  width: 50%;
  margin-left: -100%;
  height: 400px;
  position: absolute;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  background: rgba(23, 42, 58, 0.8);
  top: 80px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}

.header .menu::after {
  content: '';
  display: block;
  width: 30%;
  background: #DEFFFC;
  height: 5px;
  position: absolute;
  bottom: 10px;
  left: 36%;
  border-radius: 15px;
}

.header .menu.actived {
  margin: 0;
}

.header .menu ul li a {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  display: inline-block;
  padding: 20px;
  position: relative;
  text-transform: uppercase;
}

.header .menu ul li a.actived {
  -webkit-animation-name: hidde , opacidad;
          animation-name: hidde , opacidad;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.header .menu ul li a.nonactived {
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
  -webkit-transform: translate(0px);
          transform: translate(0px);
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.header .menu ul li .fist-letter {
  color: #E29578;
  font-family: 'Oswald';
  font-weight: 494;
  font-size: 26px;
}

@media screen and (max-width: 320px) {
  .header .logo {
    font-size: 14px;
  }
  .header .logo .desarrollo-titulo {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .header .logo {
    font-size: 22px;
  }
  .header .logo .desarrollo-titulo {
    display: inline;
    font-size: 24px;
  }
}

@media screen and (min-width: 968px) {
  @-webkit-keyframes hiddenTop {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes hiddenTop {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @-webkit-keyframes hiddenRight {
    0% {
      trantransform: translate(100%);
    }
    100% {
      trantransform: translate(0);
    }
  }
  @keyframes hiddenRight {
    0% {
      trantransform: translate(100%);
    }
    100% {
      trantransform: translate(0);
    }
  }
  .header .logo {
    font-size: 25px;
    margin-left: 50px;
  }
  .header .logo .desarrollo-titulo {
    display: inline;
    font-size: 25px;
    -webkit-text-decoration: underline #fff 2px;
            text-decoration: underline #fff 2px;
  }
  .header .btn-bars {
    display: none;
  }
  .header .menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 80px;
    background: none;
    z-index: -1;
    border-top: none;
  }
  .header .menu::after {
    display: none;
  }
  .header .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 50px;
    margin-top: 16px;
  }
  .header .menu ul li:hover .fist-letter {
    color: #E29578;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
  }
  .header .menu ul li a {
    padding: 0px;
    font-size: 18px;
    margin-left: 10px;
    display: inline-block;
  }
  .header .menu ul li a:hover {
    border-bottom: 1.5px solid #E29578;
  }
  .header .menu ul li .fist-letter {
    color: #fff;
    display: inline-block;
    -webkit-animation-name: hiddenTop;
            animation-name: hiddenTop;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: initial;
            animation-iteration-count: initial;
  }
}

@-webkit-keyframes trasladar {
  33% {
    -webkit-transform: translate(-180%);
            transform: translate(-180%);
  }
  75% {
    -webkit-transform: translate(180%);
            transform: translate(180%);
    z-index: -1;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    z-index: 2;
  }
}

@keyframes trasladar {
  33% {
    -webkit-transform: translate(-180%);
            transform: translate(-180%);
  }
  75% {
    -webkit-transform: translate(180%);
            transform: translate(180%);
    z-index: -1;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    z-index: 2;
  }
}

@-webkit-keyframes welcometext {
  0% {
    font-size: 100px;
  }
  100% {
    font-size: 50px;
  }
}

@keyframes welcometext {
  0% {
    font-size: 100px;
  }
  100% {
    font-size: 50px;
  }
}

@-webkit-keyframes messagetext {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 25px;
  }
}

@keyframes messagetext {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 25px;
  }
}

@-webkit-keyframes meteoro {
  0% {
    display: block;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-350vh, 540px);
            transform: translate(-350vh, 540px);
  }
}

@keyframes meteoro {
  0% {
    display: block;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-350vh, 540px);
            transform: translate(-350vh, 540px);
  }
}

.main .container-presentation {
  height: 600px;
  width: 100%;
  background: #fff;
  background: url("/assets/images/emilio-garcia-UGNXT7QryGA-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: 3s ease-in-out all;
  transition: 3s ease-in-out all;
  -webkit-filter: grayscale(2);
          filter: grayscale(2);
  position: relative;
}

.main .container-presentation .presentation {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 6;
  margin-bottom: 20px;
}

.main .container-presentation .presentation i {
  display: block;
  position: absolute;
  font-size: 50px;
  color: #fff;
  right: 0;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  -webkit-animation-name: meteoro;
          animation-name: meteoro;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  display: none;
}

.main .container-presentation .presentation .meteorito {
  top: 20px;
}

.main .container-presentation .presentation .meteorito2 {
  top: 80px;
}

.main .container-presentation .presentation .meteorito3 {
  top: 150px;
}

.main .container-presentation .presentation .start-here {
  width: 120px;
  display: block;
  border-radius: 10px;
  font-family: 'Oswald';
  font-weight: 494;
  font-style: italic;
  cursor: pointer;
  position: relative;
  top: 70px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  -webkit-box-shadow: 5px 2px #000;
          box-shadow: 5px 2px #000;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  font-size: 16px;
  border: 2px solid transparent;
  border-top: 1px solid #172A3A;
  border-left: 1px solid #172A3A;
  text-align: center;
}

.main .container-presentation .presentation .welcome-text {
  font-family: 'Oswald';
  font-weight: 494;
  font-size: 50px;
  line-height: 62px;
  z-index: 6;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  -webkit-animation-name: welcometext;
          animation-name: welcometext;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  text-align: left;
  text-shadow: 1px 1px 2px black;
}

.main .container-presentation .presentation .message {
  line-height: 32px;
  font-family: 'Oswald';
  font-weight: 494;
  font-size: 25px;
  color: #fff;
  position: relative;
  margin-top: 15px;
  letter-spacing: 5px;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-animation-name: messagetext;
          animation-name: messagetext;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.main .container-presentation .presentation .message .name, .main .container-presentation .presentation .message .about-me .contenedor .story .text .carrera, .main .about-me .contenedor .story .text .container-presentation .presentation .message .carrera, .main .container-presentation .presentation .message .about-me .contenedor .story2 .text .carrera, .main .about-me .contenedor .story2 .text .container-presentation .presentation .message .carrera {
  position: absolute;
  right: 0;
  color: #000;
  font-family: 'Truculenta';
  font-weight: 500;
}

.main .container-presentation .presentation .message .quotation {
  position: relative;
  top: -10px;
  left: -10px;
  font-size: 42px;
  font-style: italic;
}

.main .container-presentation .presentation .message .quotation1 {
  position: relative;
  top: -5px;
  right: -10px;
  font-size: 42px;
  font-style: italic;
}

@media screen and (min-width: 968px) {
  .main .container-presentation:hover {
    -webkit-filter: none;
            filter: none;
    z-index: 150;
  }
  .main .container-presentation:hover .presentation .start-here {
    padding: 5px;
  }
  .main .container-presentation:hover .presentation .start-here:hover {
    background: #000;
    color: #fff;
    width: 150px;
    -webkit-transition: 0.6s ease all;
    transition: 0.6s ease all;
    -webkit-box-shadow: 5px 2px #fff;
            box-shadow: 5px 2px #fff;
  }
  .main .container-presentation:hover .presentation .start-here:hover::first-letter {
    color: #004346;
  }
}

@-webkit-keyframes opp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ocultaright {
  0% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes ocultaright {
  0% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.main .about-me {
  background: #172A3A;
  margin-top: 35px;
  width: 100%;
  height: auto;
}

.main .about-me.animacion {
  -webkit-animation-name: hidde, opp;
          animation-name: hidde, opp;
  -webkit-transition: 5s ease all;
  transition: 5s ease all;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.main .about-me .titulo-about {
  text-align: left;
  margin: 0 auto;
  font-size: 28px;
  line-height: 42px;
  font-weight: 500;
  margin: 0 auto;
  display: inline;
  background: #508991;
  padding: 0px 20px 0px 20px;
  height: 120px;
  color: #fff;
}

.main .about-me .titulo-about .letter {
  font-size: 75px;
  color: #ffff;
  line-height: 42px;
  text-shadow: 4px 4px 4px #000;
}

.main .about-me .contenedor {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  grid-gap: 30px;
}

.main .about-me .contenedor .story, .main .about-me .contenedor .story2 {
  border-radius: 20px;
  overflow: hidden;
  max-width: 390px;
  -webkit-box-shadow: 0px 0px 0px  #000;
          box-shadow: 0px 0px 0px  #000;
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  overflow: visible;
  -webkit-transition: 1.4s ease all;
  transition: 1.4s ease all;
  opacity: 0;
}

.main .about-me .contenedor .story .thumb-greet, .main .about-me .contenedor .story2 .thumb-greet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .about-me .contenedor .story img, .main .about-me .contenedor .story2 img {
  width: 60%;
  max-height: 300px;
  max-width: 300px;
  -webkit-filter: grayscale(10);
          filter: grayscale(10);
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  display: block;
}

.main .about-me .contenedor .story .greet, .main .about-me .contenedor .story2 .greet {
  display: inline-block;
  font-size: 55px;
  color: #fff;
  font-family: 'oswald';
  font-weight: 494;
}

.main .about-me .contenedor .story .greet .hi, .main .about-me .contenedor .story2 .greet .hi {
  font-size: 68px;
  font-family: 'truculenta';
  color: #508991;
  margin-right: 20px;
}

.main .about-me .contenedor .story .subtitulo, .main .about-me .contenedor .story2 .subtitulo {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  margin-top: 10px;
  font-family: 'oswald';
  font-weight: 494;
  color: #fff;
  margin-right: -10px;
  font-size: 30px;
}

.main .about-me .contenedor .story .subtitulo .letter, .main .about-me .contenedor .story2 .subtitulo .letter {
  color: #508991;
  font-family: 'oswald';
  font-size: 42px;
}

.main .about-me .contenedor .story .text, .main .about-me .contenedor .story2 .text {
  color: #fff;
  font-size: 22px;
  text-align: left;
  margin-top: 10px;
}

.main .about-me .contenedor .story .text .name, .main .about-me .contenedor .story2 .text .name, .main .about-me .contenedor .story .text .carrera, .main .about-me .contenedor .story2 .text .carrera {
  color: #E29578;
  font-family: 'oswald';
  font-weight: 400;
  font-size: 29px;
}

.main .about-me .contenedor .story .text .carrera, .main .about-me .contenedor .story2 .text .carrera {
  font-size: 25px;
}

.main .about-me .contenedor .story2 {
  overflow: visible;
}

.main .about-me .contenedor .story2 .img-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .about-me .contenedor .story2 .img-container img {
  width: 100%;
  -webkit-filter: none;
          filter: none;
  border: none;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  max-width: none;
}

.main .about-me .contenedor .story2 .subtitulo {
  margin-right: auto;
  margin-left: auto;
  font-size: 25px;
}

.main .about-me .contenedor .story2 .text .bs-as {
  color: #E29578;
  font-size: 25px;
  font-family: 'oswald';
  font-weight: 494;
}

.main .about-me .contenedor .story2 .text .merida {
  color: #E29578;
  font-size: 25px;
  font-family: 'oswald';
  font-weight: 494;
}

.main .about-me .contenedor .story2 .university, .main .about-me .contenedor .story2 .new-skills {
  font-size: 25px;
  font-family: 'oswald';
  font-weight: 494;
  color: #508991;
}

.main .about-me .contenedor .story2 a {
  color: #fff;
  font-style: italic;
}

.main .about-me .contenedor .card1.animacion, .main .about-me .contenedor .animacion.card3 {
  opacity: 1;
  -webkit-animation-name: hidde, opp;
          animation-name: hidde, opp;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.main .about-me .contenedor .card1.animacion img, .main .about-me .contenedor .animacion.card3 img {
  -webkit-animation-name: hidde;
          animation-name: hidde;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.main .about-me .contenedor .card1.animacion .greet, .main .about-me .contenedor .animacion.card3 .greet {
  -webkit-animation-name: hidde, opp;
          animation-name: hidde, opp;
  -webkit-transition: 5s ease all;
  transition: 5s ease all;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.main .about-me .contenedor .card1.animacion .subtitulo, .main .about-me .contenedor .animacion.card3 .subtitulo {
  -webkit-animation-name: hidde, opp;
          animation-name: hidde, opp;
  -webkit-transition: 5s ease all;
  transition: 5s ease all;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.main .about-me .contenedor .card1.animacion .text, .main .about-me .contenedor .animacion.card3 .text {
  -webkit-animation-name: ocultaright, opp;
          animation-name: ocultaright, opp;
  -webkit-transition: 5s ease all;
  transition: 5s ease all;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.main .about-me .contenedor .card2.animacion, .main .about-me .contenedor .animacion.card4 {
  opacity: 1;
  -webkit-animation-name: ocultaright, opp;
          animation-name: ocultaright, opp;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.main .about-me .contenedor .card2.animacion img, .main .about-me .contenedor .animacion.card4 img {
  -webkit-animation-name: ocultaright;
          animation-name: ocultaright;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.main .about-me .contenedor .card2.animacion .greet, .main .about-me .contenedor .animacion.card4 .greet {
  -webkit-animation-name: ocultaright, opp;
          animation-name: ocultaright, opp;
  -webkit-transition: 5s ease all;
  transition: 5s ease all;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.main .about-me .contenedor .card2.animacion .subtitulo, .main .about-me .contenedor .animacion.card4 .subtitulo {
  -webkit-animation-name: ocultaright, opp;
          animation-name: ocultaright, opp;
  -webkit-transition: 5s ease all;
  transition: 5s ease all;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.main .about-me .contenedor .card2.animacion .text, .main .about-me .contenedor .animacion.card4 .text {
  -webkit-animation-name: hidde, opp;
          animation-name: hidde, opp;
  -webkit-transition: 5s ease all;
  transition: 5s ease all;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@media screen and (min-width: 850px) {
  .main .about-me .titulo-about {
    font-size: 34px;
    line-height: 46px;
  }
  .main .about-me .contenedor {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: 22px;
  }
  .main .about-me .contenedor .card2, .main .about-me .contenedor .card4 {
    position: relative;
    top: 50px;
  }
  .main .about-me .contenedor .card4 {
    position: relative;
    top: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */